* {
        margin: 0;
        padding: 0;
        list-style: none;
        touch-action: pan-y;
}

body {
        height: 100vh;
        overflow: hidden;
}

#map_wrap {
        width: 500px;
        height: 500px;
        position: relative;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-60%);
        width: 90vw;
        height: 90vw;
        max-width: 500px;
        max-height: 500px;
}

.bg_map {
        position: absolute;
        width: 100%;
        height: 100%;
        /* background-color:#f9fbe7; */
}

.bg_map ul.tileY {
        width: 100%;
        height: 100%;
        font-size: 0;
        display: flex;
        flex-direction: column;
}

.bg_map ul.tileY li {
        width: 100%;
        height: 100%;
        position: relative;
}

.bg_map ul.tileY li ul.tileX {
        font-size: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
}

.bg_map ul.tileY li ul.tileX li {
        height: 100%;
        position: relative;
        display: inline-block;
        border: 1px solid #b0bec5;
        box-sizing: border-box;
        border-radius: 8%;
        background-color: #f9fbe7;
}

#map {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
}

#map .tile_wrap {
        width: 25%;
        height: 25%;
        position: absolute;
        box-sizing: border-box;
        transition: none;
}

#map .tile {
        width: 100%;
        height: 100%;
        /* border: 1px solid #000; */
        border-radius: 8% 8% 9% 8%;
        background-color: #ffeb3b;
        font-size: 2.5em;
        font-weight: bold;
        text-align: center;
        line-height: 3em;
        border-bottom: 0.2em solid #00000075;
        border-right: 0.1em solid #0000009c;
        box-sizing: border-box;
}

#buttonArea {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0
}

#buttonArea div {
        position: absolute;
        /* background: #2c7eff33; */
        outline: none;
        box-shadow: none;
}

#buttonArea >div:focus {
        outline: none;
        box-shadow: none;
}

#buttonArea >div:active {
        outline: none;
        box-shadow: none;
}

#buttonArea div.left {
        left: 0;
        width: 25%;
        height: 50%;
        top: 50%;
        transform: translateY(-50%);
}

#buttonArea div.right {
        right: 0;
        width: 25%;
        height: 50%;
        top: 50%;
        transform: translateY(-50%);
}

#buttonArea div.top {
        top: 0;
        width: 50%;
        height: 25%;
        left: 0;
        right: 0;
        margin: 0 auto;
}

#buttonArea div.bottom {
        bottom: 0;
        width: 50%;
        height: 25%;
        left: 0;
        right: 0;
        margin: 0 auto;
}

.bg_popup_wrap {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #000000e3;
}

.leaderBoard_wrap {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        height: auto;
        min-width: 320px;
}

ul#leaderBoard {
        position: relative;
        /* top:50%; */
        /* transform: translateY(-50%); */
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
        height: 50vh;
        background-color: transparent;
        border-radius: 1em;
        overflow: visible;
        overflow-y: scroll;
        padding: 2% 0 10%;
}

ul#leaderBoard li {
        width: 80%;
        height: 10%;
        position: relative;
        transition: transform 0.3s, width 0.3s;
        left: 0;
        right: 0;
        margin: 0 auto;
        transform: translateY(0%);
        transform-origin: center;
}

ul#leaderBoard li:first-child .content {
        border-radius: 0.5em 0.5em 0 0
}

ul#leaderBoard li:last-child .content {
        border-radius: 0 0 0.5em 0.5em
}

ul#leaderBoard li:last-child .bg {
        border-top: 1.2em solid transparent;
        border-radius: 0 0 1em 1em;
        transform: translateY(-0.4em);
}

ul#leaderBoard li:hover,ul#leaderBoard li:focus, ul#leaderBoard li:active {
        /* z-index: 0; */
        transform: translateY(-10%);
        width: 90%;
}

ul#leaderBoard li div.bg {
        position: absolute;
        width: 100%;
        height: 0;
        top: 100%;
        border-left: 0.5em solid transparent;
        border-right: 0.5em solid transparent;
        border-top: 0.8em solid #692f2f;
        box-sizing: border-box;
}

ul#leaderBoard li div.content {
        background-color: #fff;
        width: 100%;
        height: 100%;
        position: absolute;
        box-sizing: border-box;
        text-align: center;
        font-weight: bold;
        line-height: 2.8em;
}

a.cancle_btn {
        display: block;
        position: relative;
        top: 0;
        margin-bottom: 0.3em;
        left: 12%;
        width: 1em;
        height: 1em;
        background-color: #FF6057;
        border-radius: 100%;
        cursor: pointer;
        text-decoration: none;
        color: #000;
        text-align: center;
}

a.leaderBoard_btn {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 2em;
        height: 2em;
        cursor: pointer;
        background-color: #000;
        text-align: center;
        border-radius: 0.4em;
}

@media screen and (max-width: 600px) {
        #map .tile {
                font-size: 7vw;
                line-height: 23vw;
        }
}
